.card {
    width: 100%;
    background-color: brown;
    max-height: 100px;
}
.bullet {
    display: inline-block;
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
  .title {
    font-size: 14;
  }
  .pos {
    margin-bottom:12;
  }
  .box {
    
    width: 20%;
  }
  
